/* Add styles here */

body {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

line {
  shape-rendering: crispEdges;
  stroke-width: 3px;
}

line.main {
  stroke-opacity: 0.8;
  stroke-width: 0px !important;
}
circle {
  sroke-opacity: 0.5;
}


line.nodata {
  stroke: #ccc;
}
line.ok {
  stroke: rgb(22,167,34)
}
line.slowing {
  stroke: rgb(253,158,59);
}
line.slow {
  stroke: rgb(251,0,7);
}
line.stopped {
  stroke: rgb(174,0,4);
}